*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#eeeadc;
}

#basic form{
    margin-left: 36px;
    margin-top: 20px;
}

.field,
.highlight,
.plans,
.price,
.time{
    margin-bottom: 20px;
}
#name {
    margin-top: 10px;
}
table {
    margin-top: 10px;
    width: 60%;
    border-collapse: collapse;
    border: solid 2px #416176;
}
button{
    height: 30px;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}

tr {
    width: 100%;
    border: solid 1px #416176;
    text-align: center;
}

th {
    border: solid 2px #416176;
    background-color: rgba(236,240,238,0.8);
    height: 50px;
    font-size: 18px;
}

td {
    border: solid 2px #416176;
    height: 50px;
    background-color: rgba(226,182,202,0.2);
    line-height: 100%;
}

.price ul{
    margin-left: 36px;
}

li{
    margin-bottom: 6px;
}
button{
    height: 30px;
    width: 160px;
    border: solid 2px #416176;
    background-color: #eeeadc;
}

input[type='checkbox']{
    background-color: #eeeadc;
    height: 15px;
    width: 15px;
}
input[type="file"] {

}
label{
    /*display: block;*/
    height: 30px;
    text-align: center;
    line-height: 100%;
}
textarea{
    background-color: #eeeadc;
    border: solid 2px #416176;
    height: 80%;
}

button{
    height: 30px;
    width: 60px;
    border: solid 2px #003d74;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #eeeadc;
}

.new_pic{
    display: block;
    width: 600px;
    /*width: 60%;*/
    height: 450px;
    /*height: 90%;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}